.test {
    text-align: center;

}

body {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
}

:root {
    min-height: 100vh;
    background-color: black;
    --header-img-height: 250px;
    --text-color: black;
    --website-primary-color: rgb(241, 82, 25);
    --website-secondary-color: rgb(126, 163, 247);
    --bg-color: #ffffff;
}

.header-img {
    object-fit: cover;
    filter: brightness(60%);
}

.header-logo {
    margin-top: -190px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: var(--bg-color);
    object-fit: contain;
    box-shadow: 0px 0px 13px 0px var(--website-secondary-color);
}

.info {
    color: var(--text-color) !important;
    font-weight: 100;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* * {
    scrollbar-width: auto;
    scrollbar-color: var(--website-primary-color);
  }

  /* Chrome, Edge, and Safari */
  /* *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: var(--bg-color);
  }

  *::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    border: 7px solid var(--bg-color);
  } */

.title {
    text-align: center;
}

#menu {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 10;
}

#menu div {
    overflow-x: scroll;
}

/* #menu div::-webkit-scrollbar-thumb {
    background-color: var(--website-secondary-color);
    transition: 0.2s;
}
#menu:hover div::-webkit-scrollbar-thumb {
    background-color: var(--website-secondary-color);
    transition: 0.4s;
} */

#menu div::-webkit-scrollbar {
    display: none;
}

.menu-badge {
    display: flex; 
    color: var(--text-color); 
    background-color: none; 
    border-radius: 20px; 
    padding: 8px 25px;
    border: 2px solid var(--website-secondary-color);
    transition: ease-out 0.2s;
    text-decoration: none;
    white-space: nowrap;
}

.menu-badge:hover {
    border-color: var(--website-primary-color);
    color: var(--text-color);
    background-color:var(--website-primary-color);
    transition: ease-in 0.2s;
    text-decoration: none;
    cursor: pointer;
}

.menu-badge.active {
    border-color: var(--website-primary-color);
    color: var(--text-color);
    background-color:var(--website-primary-color);
}

.menu-badge:last-child {
    margin-right: 30px;
}

.search {
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
    border: 2px var(--website-secondary-color) solid;
}

.search span {
    background-color: var(--website-primary-color);
    color: var(--text-color);
    border: none;
}
.search span:hover {
    background-color: var(--website-primary-color);
}

.search-field {
    background-color: transparent !important;
    border: none !important;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.subcategory {
    width: 100%;
    aspect-ratio: 3/1;
    overflow: hidden;
    position: relative;
    
}

.sub-label {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 25px;
    text-shadow: 0 2px 3px rgba(0,0,0,.46);
    background-size: cover;
    background-position: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: url("/static/img/util/food-tray.png");
    text-decoration: none;
    
}

.sub-label:before {
    content: "";
    position: absolute;
    left: calc(var(--bs-gutter-x) * .5);
    top: 0;
    width: calc(100% - calc(var(--bs-gutter-x)));
    height: 100%;
    background: rgb(41, 41, 41);
    opacity: .4;
    border-radius: 25px;
}

.right-fade {
    position: relative;
}

.right-fade:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100%);
    width: 40px;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--bg-color) 65%);
}

#content {
    margin-top: 1rem;
    row-gap: calc(var(--bs-gutter-x));
}

.menu-items {
    display: flex;
    flex-direction: column;
    /*min-height: 23rem;*/
}

.menu-items:last-child {
    margin-bottom: 0;
}

.menu-items-img {
    height: 15rem;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 30px;
    transition: ease-out 0.4s;
    background: var(--website-primary-color) url("/static/img/util/food-tray.png")  no-repeat center;
}

.menu-items:hover img {
    box-shadow: var(--website-secondary-color) 0px 0px 10px;
    transition: ease-in 0.2s;
}

.menu-items-title {
    font-weight: bold;
    color: var(--text-color);
}

.menu-items-description {
    color: var(--text-color);
}
.menu-items-description p {
    margin-bottom: 0;
}
.menu-items-weight {
    color: var(--text-color);
}
.menu-items-ingredients {
    color: var(--text-color);
}

.menu-items-description._has-big-description:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 48px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, var(--bg-color) 0%, rgba(255,255,255,0) 100%);
}

.description-crop {
    height: 40px;
}

.menu-items-description {
    position: relative;
    margin-bottom: 6px;
    font-size: 14px;
    overflow: hidden;
}


.menu-items-price {
    color: var(--website-primary-color);
    margin-top: auto;
}

.menu-items-header {
    gap: 10px;
}

.menu-items-header span {
    white-space: nowrap;
    flex-basis: 60px;
    text-align: end;
}
.menu-items-header h2 {
    align-self: flex-start;
}

footer {
    margin-top: auto;
    color: var(--text-color);
}

#subcategory-header {
    cursor: pointer;
    border-radius: 25px;
    transition: 0.2s ease-out;
    background: none;
    color: var(--text-color);
}

#subcategory-header:hover {
    background-color: rgba(85, 85, 85, 0.1);
    transition: 0.4s ease-in;
}
#subcategory-header:active {
    background-color: rgba(85, 85, 85, 0.2);
    transition: 0.4s ease-in;
}

#fullscreenImage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

#fullscreenImage.show {
    opacity: 1;
    transition: opacity 0.3s;
}

#fullscreenImage img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

#fullscreenImage img.show {
    opacity: 1;
    transition: opacity 0.3s;
}

#fullscreenImage span {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#lang-select {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

#lang-select select {
    position: relative;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: solid 2px var(--website-secondary-color);
    border-radius: 15px;
    padding: 5px 15px;
    text-align: center;
}

@keyframes ldio-0oeqvw1sd7zb {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-0oeqvw1sd7zb div {
    position: relative;
  width: 56px;
  height: 56px;
  border: 3px solid var(--website-primary-color);
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-0oeqvw1sd7zb div {
  animation: ldio-0oeqvw1sd7zb 0.5813953488372093s linear infinite;
  top: 50%;
  left: 50%
}
.loadingio-spinner-rolling-sk0x4g1jti {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  margin: auto;
}
.ldio-0oeqvw1sd7zb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-0oeqvw1sd7zb div { box-sizing: content-box; }

#scroll-top {
  background-color: var(--website-secondary-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 3px;
  /* transition: background-color .3s, 
    opacity .5s, visibility .5s; */
  z-index: 1000;
  display: none;
}

#scroll-top span {
    font-size: 28px;
}
.title-container {
    background-color:var(--bg-color);
    color:var(--text-color);
    display:block;
    position:relative;
    z-index:2;
    padding-top: 25px;
    border-radius: 30px 30px 0px 0px;
}

@media screen and (min-width: 768px)  {
    body {
        max-width: none;
    }
    .header-background {
        display: none;
        flex: 1;
    }
    .header-logo {
        order: 1;
        flex: 1;
        margin-top: 0;
        box-shadow: none;
        height: 120px;
    }

    #lang-select {
        flex: 1;
        order: 3;
        margin-right: 0;
        justify-content: end;
        margin-bottom: 0;
    }
    .title-container {
        flex: 3;
        order: 2;
        padding: 0;
        border-radius: 0;
    }

    .title-container h1 {
        margin: 0;
    }
    .header {
        margin-top: 1rem;
        display: flex;
        align-items: center;
    }
    .restaurant-info {
        display: none;
    }
    #search {
        display: none !important;
    }
    .subcategory {
        width: 50%
    }
    .sub-label:before {
        overflow: hidden;
        content: "";
        position: absolute;
        left: calc(var(--bs-gutter-x) * .5);
        top: 0;
        width: calc(100% - calc(var(--bs-gutter-x)));
        height: 100%;
        background: rgb(41, 41, 41);
        opacity: .4;
        border-radius: 25px;
    }
    .menu-items {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    #menu div {
        justify-content: center;
    }
    
    .menu-badge:last-child {
        margin-right: 0;
    }
    
}

.dots {
    flex: 1;
    height: 20px;
    border-bottom: 3px dotted #3333;
    flex-basis: 4rem;
}

.without-photo {
    max-width: 50rem;
}

.without-photo .row {
    row-gap: 3rem;
}

.without-photo .menu-items-title {
    font-weight: normal;
}

