{% extends 'admin/model/edit.html' %}
{% block body %}
    {% block navlinks %}
    {{super()}}
    {%endblock%}
    {%block edit_form %}
    <div class="container" id="formContainer">
    <ul class="nav nav-tabs mt-3" id="localeTabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#main">Основные</a>
    </li>

</ul>

<div class="tab-content mt-3" id="localeTabContent">
    <div class="tab-pane fade show active" id="main">
        
    </div>
</div>
    </div>
    {{ super() }}
    <script src="/static/js/jquery.js"></script>
    <script>
        document.querySelectorAll(".image-thumbnail img").forEach(imageThumbnail => imageThumbnail.src = imageThumbnail.src.replace("/static/static", "/static"))
    $('#formContainer').prependTo($('form.admin-form'))
    let langValues = new Set();

    $("div.form-group input[lang]").each(function() {
        let langValue = $(this).attr("lang");
        langValues.add(langValue)
        $(this).closest("div.form-group").attr({'id' : langValue});
        $(this).closest("div.form-group").addClass('locale');
    });

    langValues.forEach((value) => {
        $("#localeTabs").append(
            `<li class="nav-item"><a class="nav-link" href="#${value}">${value}</a></li>`
        )
    });
    $("div.locale").each(function() {
        let id = $(this).attr("id")
        $("#localeTabContent").append(
        `<div class="tab-pane fade" id="${id}">

        </div>`
        )
        $(`.tab-pane#${id}`).append($(this));
    })
    $("fieldset").appendTo($('#localeTabContent #main'))

    $('#localeTabs a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    </script>
    {%endblock%}
{%endblock%}