{% extends 'admin/model/edit.html' %}
{% block body %}
    {% block navlinks %}
    {{super()}}
    {%endblock%}
    {%block edit_form %}
    <div class="container" id="formContainer">
    <ul class="nav nav-tabs mt-3" id="localeTabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#main">Основные</a>
    </li>
    {# <span class="navbar-brand">Локализация</span> #}
</ul>

<div class="tab-content mt-3" id="localeTabContent">
    <div class="tab-pane fade show active" id="main">
        
    </div>
</div>
    </div>
    {{ super() }}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/admin/locale-edit.js"></script>
    {%endblock%}
{%endblock%}