<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles.css">
    <title>Menu</title>
</head>
<body class="bg-dark">
    <div class="bg-white" style="margin: 0 auto; max-width: 30rem;">
        <div style="height: var(--header-img-height); object-fit: cover; overflow:hidden;">
            <img class="header-img" width="100%" height="100%" alt="header-img" src="/app/static/img/header.jpg">
        </div>
        <div class="container bg-white" style="display:block; position:relative; top:-30px; z-index:2; padding-top: 40px; border-radius: 30px 30px 0px 0px;">
            <h1>{{ _('Меню') }}</h1>
        </div>
        <div class="container d-flex flex-wrap position-relative" style="top: -25px; margin-bottom: -20px">
            <span class="text-muted bi-geo-alt me-3">{{ _('Lorem ipsum dolor') }}</span>
            <span class="bi-telephone text-muted"> <a class="text-muted" style="text-decoration: none;" href="tel:+375111111111"> +375 11 111 11 11</a></span>
        </div>
        <div id="menu" class="right-fade">
            <div class="overflow-x-scroll container d-flex gap-2 pb-1">
                <a href="/" class="menu-badge active">one</a>
                <a class="menu-badge">two</a>
                <a class="menu-badge">three</a>
                <a class="menu-badge">three</a>
                <a class="menu-badge">three</a>
                <a class="menu-badge">three</a>
            </div>         
        </div>
        
        <div class="container pt-2" id="search">
            <form action="submit">
                <div class="search d-flex justify-content-between">  
                    <input type="search" class="search-field form-control" placeholder="Type here to search..." style="appearance: none;">
                    <a type="submit"><span class="bi-search btn btn-primary rounded-5"></span></a>
                </div>
            </form>
        </div>
        
        <div class="container mt-4" id="dishes">
            <div class="dish">
                <img src="/app/static/img/header.jpg">
                <div class="d-flex justify-content-between">
                    <h2 class="dish-title">Борщ</h2>
                    <span class="text-muted">270 г</span>
                </div>
                <p class="dish-description text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum porro corrupti aspernatur ipsam maxime, eos quisquam odit</p>
                <h3 class="dish-price">
                    5,6 р.
                </h3>
            </div>
            <div class="dish">
                <img src="/app/static/img/header.jpg">
                <div class="d-flex justify-content-between">
                    <h2 class="dish-title">Борщ</h2>
                    <span class="text-muted">270 г</span>
                </div>
                <p class="dish-description text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum porro corrupti aspernatur ipsam maxime, eos quisquam odit</p>
                <h3 class="dish-price">
                    5,6 р.
                </h3>
            </div>
            <div class="dish">
                <img src="/app/static/img/header.jpg">
                <div class="d-flex justify-content-between">
                    <h2 class="dish-title">Борщ</h2>
                    <span class="text-muted">270 г</span>
                </div>
                <p class="dish-description text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum porro corrupti aspernatur ipsam maxime, eos quisquam odit</p>
                <h3 class="dish-price">
                    5,6 р.
                </h3>
            </div>
        </div>
        
        <footer class="footer mt-5 pb-2 text-center">
            © Company 2023
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/app/static/script.js"></script>
</html>