{% extends 'index.html' %}

{% block content %}
<div class="container mt-4" id="dishes">
    <div class="dish">
        <img src="static/img/header.jpg">
        <div class="d-flex justify-content-between">
            <h2 class="dish-title">Борщ</h2>
            <span class="text-muted">270 г</span>
        </div>
        <p class="dish-description text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum porro corrupti aspernatur ipsam maxime, eos quisquam odit</p>
        <h3 class="dish-price">
            5,6 р.
        </h3>
    </div>
    <div class="dish">
        <img src="static/img/header.jpg">
        <div class="d-flex justify-content-between">
            <h2 class="dish-title">Борщ</h2>
            <span class="text-muted">270 г</span>
        </div>
        <p class="dish-description text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum porro corrupti aspernatur ipsam maxime, eos quisquam odit</p>
        <h3 class="dish-price">
            5,6 р.
        </h3>
    </div>
    <div class="dish">
        <img src="static/img/header.jpg">
        <div class="d-flex justify-content-between">
            <h2 class="dish-title">Борщ</h2>
            <span class="text-muted">270 г</span>
        </div>
        <p class="dish-description text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum porro corrupti aspernatur ipsam maxime, eos quisquam odit</p>
        <h3 class="dish-price">
            5,6 р.
        </h3>
    </div>
</div>
{% endblock %}